h2{
    text-align: center;
    color: lightgray;
}
h1{
    text-align: center;
    color: lightgray;
}
h3{
    color: lightgray;
}
.header{
    padding: 30px;
    text-align: center;
}
.footer{
    padding: 30px;
    text-align: center;
}
hr{
    width: 50%;
    color: rgb(48, 63, 102);
    background-color: rgb(48, 63, 102);
    border-color: rgb(48, 63, 102);
    box-shadow: 15px 10px 15px black;
}
.main{
    padding: 5%;
}
.container{
	background-color: #592b16;
	background-image: url("/dark-wood.png");
    box-shadow: 15px 10px 15px black;
}

a{
	color: lightgray;
    text-shadow: black 0px 0px 10px;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.piece{
    width: 2em;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 2%;
    border-radius: 8px;
}
.polaroid{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
	padding: 1%;
    background-color: lightgray;
    background-image: url("/purty-wood.png");
    width: 25%;
    box-shadow: 15px 10px 15px black;
    border-radius: 4%;
    
}
.changePage{
    text-align:center;
    font-weight:bold;
    color: darkgray;
}
li{
    margin: 2%;
}
body{
	font-family: Garamond, serif;
    text-shadow: black 0px 0px 10px;
    font-weight: bold;
	background-color: #325656;
	background-image: url("/felt.png");
    color: darkgray;
    padding: 10%;
}
.imageHeader{
	filter: drop-shadow(15px 10px 15px black);
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;
}
.bottomPolaroid{
    padding: 10px 20px;
}
.castlingTable{
    text-align: center; 
    margin-top: 2%;
}